<% content_for(:navbar) do %>
<div class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Genres
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% if @genres.any? %>
      <% @genres.each do |genre| %>
        <p class="dropdown-item"><%= link_to genre.name, genre_path(genre) %></p>
      <% end %>
    <% else %>
      <p>There are no Genres!!!!</p>
    <% end %>
  </div>
</div>

<% end %>

<div class="well home">
  <% if @random_genre.books.any? %>
  <h4>Book of the day:</h4>
    <%= link_to @random_genre.books[rand(@random_genre.books.length)].name, book_path(@random_genre.books[rand(@random_genre.books.length)]) %>
  <% else %>
    <p>No favorite book today - check back later!</p>
  <% end %>
</div>

<div class="well">
  <p>Thanks <em> <%= @popular_user %></em> for all your reviews! Reading rules!</p>
  <p> <%= @random_review.review %> </p>
</div>







<h2>Popular Books</h2>

<% if @popular_books.any? %>
  <% @popular_books.each do |book| %>
  <ul>
    <li><%= link_to book.name, book_path(book) %></li>
  </ul>
  <% end %>
<% else %>
  <p>There are no reviews!!!!</p>
<% end %>

<div class="well">
  <% if @recent_reviews.any? %>
    <% @recent_reviews.each do |review| %>
      <ul>
        <li> <%= review.review %> </li>
      </ul>
    <% end %>
  <% else %>
    <p>There are no recent reviews.</p>
  <% end %>
</div>
