<% content_for(:navbar) do %>
  <li><%= link_to "Add Book", new_genre_book_path(@genre) %></li>
<% end %>


<h1><%= @genre.name %></h1>
<% if @genre.books.any? %>

  <ul>
    <h5 class="alphabetically">Alphabetically</h5>
    <span class="alpha_list hide">
      <% @genre.books.abc_sort.each do |book| %>
        <li>
          <%= link_to book.name, genre_book_path(@genre, book) %>
        </li>
      <% end %>
    </span>
  </ul>

  <ul>
  <h5 class="oldest_first">Oldest to Newest</h5>
  <span class="oldest_list hide">
    <% @genre.books.oldest_first.each do |book| %>
      <li>
        <%= link_to book.name, genre_book_path(@genre, book) %>
      </li>
    <% end %>
  </span>
</ul>

<ul>
  <h5 class="newest_first">Newest to Oldest</h5>
  <span class="newest_list hide">
    <% @genre.books.newest_first.each do |book| %>
      <li>
        <%= link_to book.name, genre_book_path(@genre, book) %>
      </li>
    <% end %>
  </span>
</ul>

<% else %>
  <p>No books for this <%= @genre.name %></p>
<% end %>
