<h1 class="title"><%= @genre.name %></h1>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="alphabetically">Alphabetically</a></li>
    <li class="breadcrumb-item"><a href="#" class="oldest_first">Oldest to Newest</a></li>
    <li class="breadcrumb-item"><a href="#" class="newest_first">Newest to Oldest</a></li>
    <li class="breadcrumb-item add"><%= link_to "Add Book", new_genre_book_path(@genre) %></li>
  </ol>
</nav>
<% if @genre.books.any? %>

  <ul>
    <span class="alpha_list hide">
      <% @genre.books.abc_sort.each do |book| %>
        <li>
          <h3><%= link_to book.name, genre_book_path(@genre, book)%> <small>- <%= book.author %></small>
          <span class="admin hide">
            <%= link_to "Edit", edit_genre_book_path(@genre, book) %> |
              <%= link_to "Delete", genre_book_path(@genre, book),
              :data => {:confirm => "You sure?",
                :method => "delete"} %>
              </span></h3>
        </li>
      <% end %>
    </span>
  </ul>

  <ul>

  <span class="oldest_list hide">
    <% @genre.books.oldest_first.each do |book| %>
      <li>
        <h3><%= link_to book.name, genre_book_path(@genre, book)%> <small>- <%= book.author %></small></h3>
        <span class="admin hide">
          <p><%= link_to "Edit", edit_genre_book_path(@genre, book) %> |
            <%= link_to "Delete", genre_book_path(@genre, book),
            :data => {:confirm => "You sure?",
              :method => "delete"} %></p>
            </span>
      </li>
    <% end %>
  </span>
</ul>

<ul>

  <span class="newest_list hide">
    <% @genre.books.newest_first.each do |book| %>
      <li>
        <h3><%= link_to book.name, genre_book_path(@genre, book)%> <small>- <%= book.author %></small></h3>
        <span class="admin hide">
          <p><%= link_to "Edit", edit_genre_book_path(@genre, book) %> |
            <%= link_to "Delete", genre_book_path(@genre, book),
            :data => {:confirm => "You sure?",
              :method => "delete"} %></p>
            </span>
      </li>
    <% end %>
  </span>
</ul>

<% else %>
  <p>No books for this <%= @genre.name %></p>
<% end %>
