<h1><%= @genre.name %></h1>

<%= link_to "Add Book", new_genre_book_path(@genre) %>

<% if @genre.books.any? %>
  <ul>
    <% @genre.books.abc_sort.each do |book| %>
      <li>
        <%= link_to book.name, genre_book_path(book) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No books for this <%= @genre.name %></p>
<% end %>

<%= link_to "All Genres", genres_path %>
