<% content_for(:navbar) do %>
  <li><%= link_to "Add Review", new_book_review_path(@book) %></li>
<% end %>

<h1 class="book-header"><%= @book.name %></h1>
<h3 class="book-header">Reviews:</h3>
<% if @book.reviews.any? %>
  <ul>
    <% @book.reviews.each do |review| %>
      <li class="well reviews">
        <p><%= review.name %></p>
        <p> <%= review.rating %></p>
        <p> <%= review.review %> </p>
        <p><%= link_to "Edit", edit_book_review_path(@book, review) %></p>
        <p><%= link_to "Delete", book_review_path(@book, review),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews for this <%= @book.name %></p>
<% end %>
