<% content_for(:navbar) do %>
  <li><%= link_to "Add Review", new_book_review_path(@book) %></li>
  <li><a href="#" id="admin">Admin</a></li>
<% end %>


<h1 class="book-header"><%= @book.name %></h1>
<h3 class="book-author">By: <%= @book.author %></h3>
<span class="admin hide" id="book-admin">
  <p><%= link_to "Edit", edit_book_path(@book) %> |
    <%= link_to "Delete", book_path(@book),
    :data => {:confirm => "You sure?",
      :method => "delete"} %></p>
    </span>
<h3 class="book-header">Reviews:</h3>
<% if @book.reviews.any? %>
  <ul>
    <% @book.reviews.each do |review| %>
      <li class="well reviews">
        <span class="admin hide">
          <p><%= link_to "Edit", edit_book_review_path(@book, review) %> |
            <%= link_to "Delete", book_review_path(@book, review),
            :data => {:confirm => "You sure?",
              :method => "delete"} %></p>
            </span>
        <p><%= review.name%></p>
        <% review.rating.times{%> <span class="glyphicon glyphicon-star" aria-hidden="true"></span><%}%>
        <hr>
        <p> <%= review.review %> </p>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews for this <%= @book.name %></p>
<% end %>
